{% extends 'flow.html' %}
{% block content %}

    <h1 class="devs-header">Developers</h1>
    <HR><BR>
    <div class="container" style="margin-top: 2rem; !important">
    <div class="row">
    {% for item in info %}
        <div class="col-md-4">
        <div class="index-div" style="height: 100%">
            <p><a href="/developer/{{ item.id }}">{{ item.display_name }}</a></p>
            {% if item.headshot %}
                <img style="border-radius: 2rem;" height="300" src='/media/{{item.headshot}}' >
            {% elif not item.headshot %}
                <svg style="border-radius: 2rem;" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect height="100%" fill="#55595c"/></svg>
            {% endif %}
            <p>{{ item.github_link }}</p>
            <p>{{ item.bio }}</p>
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
    {% comment %} <section id="feature-one">
        <div class="container">
            <div class="row">
                <div class="row feature-content">
                    <div class="mr-3 ml-3 col-lg-6">
                        <div class="index-div">
                            <h1>Welcome to DevSpace!</h1>
                            {% for item in info %}
                                <p>{{ item.display_name }}</p>
                                <p>{{ item.github_link }}</p>
                                <p>{{ item.bio }}</p>
                            {% endfor %}
                            {% for item in %}
                        </div>
                    </div>
                    <div class="mr-3 ml-3 col-lg-5 col-lg-offset-1"></div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

{% endblock %}