{% extends 'flow.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevSpace</title>
    </head>
    <body>
        <h1>Welcome to DevSpace!</h1>
        
        <p>{{info.display_name}}</p>
        <p>{{info.username}}</p>
        
        <p>{{info}}</p>
        
        <button><a href='/resume/add'>Add Resume!</a></button>

        <button><a href='/{{info.username}}/resume/'>View Resume!</a></button>
        
        <button><a href='/signout/'>Logout</a></button>
    </body>
    </html>

{% endblock %}