{% extends 'flow.html' %}
{% block content %}

<h1>{{data.display_name}}'s Resume</h1>
{{resume.title}}<br>
{{resume.name}}<br>
{{resume.city}},
{{resume.state}},
{{resume.country}}<br>
{{resume.phone}}<br>
{{resume.email}}<br>
{{resume.summary}}<br>
{{resume.education}}<br>
{{resume.skills}}<br>
{{resume.employment}}<br>
{{resume.references}}

{{data}}

{% if user.is_authenticated %}
<button><a href='/resume/add/education/'>Add Education!</a></button>
<button><a href='/resume/add/employment/'>Add Employment!</a></button>
<button><a href='/resume/add/references/'>Add References!</a></button>
<button><a href='/resume/add/details/'>Add Details!</a></button>
<button><a href='/resume/add/'>Add Resume</a></button>
{% endif %}

{% endblock %}