{% extends 'flow.html' %}
{% block content %}

<h1>{{data.display_name}}'s Resume</h1>

Title: {{resume.title}}<br>
Name: {{resume.name}}<br>
Location: {{resume.city}},
{{resume.state}},
{{resume.country}}<br>
Number: {{resume.phone}}<br>
Email: {{resume.email}}<br>
Summary: {{resume.summary}}<br>
Education: {{form.school}}<br>
Skills: {{resume.skills}}<br>
Employment: {{form.organization}}<br>
References: {{resume.references}}

{{data}}

{% if user.is_authenticated %}
<button><a href='/resume/add/education/'>Add Education!</a></button>
<button><a href='/resume/add/employment/'>Add Employment!</a></button>
<button><a href='/resume/add/references/'>Add References!</a></button>
<button><a href='/resume/add/details/'>Add Details!</a></button>
<button><a href='/resume/add/'>Add Resume</a></button>
{% endif %}

{% endblock %}